#projects-index {
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
  ul.projects {
    li {
      div {
        display: inline;

      }
    }
    // sub projects
    ul.projects {
      border-left: none;
    }


    a.project {
      font-weight: bold;
    }
  }
}

// project description in project list
.projects {
  li {
    .wiki {
      p {
        margin-top: 0;
      }
    }
  }
}
