/*
Error: Undefined variable: "$color-link".
        on line 33 of /Users/andreas/Sites/redmine/public/themes/redmine-theme-gitmike/sass/_mainmenu.scss
        from line 333 of /Users/andreas/Sites/redmine/public/themes/redmine-theme-gitmike/sass/application.scss

28: 
29: 
30: 
31: #content h1, h2, h3, h4 {
32:   color: $text-color;
33: }
34: 
35: #header {
36:   @include github-pagehead();
37:   padding: 0px 8px 10px 6px !important;
38:   height: auto;

Backtrace:
/Users/andreas/Sites/redmine/public/themes/redmine-theme-gitmike/sass/_mainmenu.scss:33
/Users/andreas/Sites/redmine/public/themes/redmine-theme-gitmike/sass/application.scss:333
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/andreas/.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
/Users/andreas/.rbenv/versions/2.4.1/bin/scss:22:in `load'
/Users/andreas/.rbenv/versions/2.4.1/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color-link\".\A         on line 33 of /Users/andreas/Sites/redmine/public/themes/redmine-theme-gitmike/sass/_mainmenu.scss\A         from line 333 of /Users/andreas/Sites/redmine/public/themes/redmine-theme-gitmike/sass/application.scss\A \A 28: \A 29: \A 30: \A 31: #content h1, h2, h3, h4 {\A 32:   color: $text-color;\A 33: }\A 34: \A 35: #header {\A 36:   @include github-pagehead();\A 37:   padding: 0px 8px 10px 6px !important;\A 38:   height: auto;"; }
